
{{!-- <div class="container">
    <a class="btn btn-info" href="/vehicle/new">+ Add Vehicle</a>

    <h2 class="text-center">Vehicles</h2>

    {{#each vehicles}}
        <div class="row review">
            <div class="col-sm-4">
                <img class="review-img" src="{{imgLink}}">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>
                            <a href="/vehicles/{{id}}/">{{name}}</a>
                        </h4>
                        {{!-- {{email}} --}}
                    {{!-- </div>
                    <div class="col-sm-6">
                    </div>
                </div>
                <div class="row">
                    <div class="col review-quote">
                        {{color}}
                    </div>
                </div>
            </div>
        </div>
        <br>
    {{/each}}
</div> --}} 

{{#each vehicles}}
<div class="container vehicles">
  <h2 class="text-left"><a href="/vehicle/{{id}}">{{name}}</a></h2>
  <p class="text-left">Name: {{name}}</p>
  <p class="text-left">Color: {{color}}</p>
</div>
{{/each}}

<div class="panel-footer row text-center justify-content-center">
  <div class="col-xs-6 text-center">
    <a href="/vehicle/new" class="action-btn btn btn-primary butn-leg button">Create a New Vehicle</a>
  </div>
</div>