{{!-- <div class="container">
    <h2 class="text-center">{{vehicle.name}}</h2>
    <div class="text-center">
        <img class="customer-img-banner" src={{vehicle.name}} alt="">
    </div>
    <div class="text-center">
        <a class="action-btn btn btn-info" href="/{{vehicle.id}}/edit">EDIT</a>
        <form class="delete-form"action="/{{vehicle.id}}?_method=DELETE" method="POST">
            <input class="action-btn btn btn-danger" type="submit" value="DELETE">
        </form>
    </div>
    <p>{{customer.description}}</p>

    <h3 class="text-center">Vehicles</h3>
    {{!-- <ul>
        {{#each customer.serviceList}}
            {{name}} - {{color}}
        {{/each}}
    </ul> --}}
    {{!-- </div>
</div> --}}