<div class="card card-center" style="width: 30vw">
  <div class="card-body">
    <h5 class="card-title">{{shop.name}}</h5>
    <p class="card-text">Street: {{shop.address.street}}</p>
    <p class="card-text">City: {{shop.address.city}}</p>
    <p class="card-text">State: {{shop.address.state}}</p>
    <p class="card-text">Zip: {{shop.address.zipCode}}</p>
    <p class="text-left">Phone Number: {{shop.phoneNumber}}</p>
    <h5 class="text-left foster-title">Current Fosters:</h5>
    {{!-- <ul class="shop-list">
      {{#each shop.animals}}
      <li class="foster-list-item"><a href="/fosters/{{id}}">{{name}}</a></li>
      {{/each}}
    </ul> --}}
  </div>
</div>
