
<div class="card card-center" style="width: 30vw">
  <div class="card-body">
    <h5 class="card-title">{{shop.name}}</h5>
    <p class="card-text">Street: {{shop.address.street}}</p>
    <p class="card-text">City: {{shop.address.city}}</p>
    <p class="card-text">State: {{shop.address.state}}</p>
    <p class="card-text">Zip: {{shop.address.zipCode}}</p>
    <p class="text-left">Phone Number: {{shop.phoneNumber}}</p>
    {{!-- <ul class="shop-list">
      {{#each shop.vehicles}}
      <li class="vehicle-list-item"><a href="/vehicles/{{id}}">{{name}}</a></li>
      {{/each}}
    </ul> --}}
  </div>
</div>



<div class="text-center">
        {{!-- <a class="action-btn btn btn-info" href="/{{customer.id}}/edit">EDIT</a> --}}
        <form class="delete-form"action="/{{shop.id}}?_method=DELETE" method="POST">
            <input class="action-btn btn btn-danger" type="submit" value="DELETE">
        </form>
    </div>

  
